@font-face {
  font-family: 'hm-regular';
  src: url('../fonts/hmampersanddisp-regular-webfont.woff')
}
@font-face {
  font-family: 'hm-regular2';
  src: url('../fonts/hmamperserifdisp-regular-webfont.woff')
}
@font-face {
  font-family: 'hm-light';
  src: url('../fonts/hmampersanddisp-light-webfont.woff')
}
@font-face {
  font-family: 'hm-bold';
  src: url('../fonts/hmampersanddisp-bold-webfont.woff')
}

body {
  margin: 0;
}

.app {
  font-family: hm-light, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  &-content-item.hidden {
    display: none;
  }
}
