.Desktop {
  min-height: 100vh;
  &-header {
    height: 10vh;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    font-size: .9rem;
    &-move {
      width:10vw;
      margin-left: 10vw;
    }
    &-tab {
      width:45vw;
      margin-right:10vw ;
      margin-left: 3vw;
      line-height: 10vh;
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      :nth-child(1){
        display: inline-block;
        height: 7vh;
        border-bottom: 2px solid black;
        font-family: hm-regular;
      }
    }
    &-personal {
      width:23vw;
      display: flex;
      flex-direction:row;
      justify-content:center;
      line-height: 10vh;
      & > span{
        width: 11vw;
        & > i {
          margin-left: 1vw;
        }
      }
      & > img{
        width: 60px;
        height: 60px;
        margin: auto 3rem auto 1rem;
      }
    }
  }
  &-banner {
    position: relative;
    & > img {
      width: 100vw;

    }
    & > p {
      width: 50vw;
      position: absolute;
      height: 3rem;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      font-size: 2.5rem;
      text-align: center;
      font-family: hm-regular2;
      & > span {
        border-bottom: 1px white solid;
      }
    }

  }
  &-content {
    margin: 0 6vw;
    width: 88vw;
  }
  &-title {
    height: 3rem;
    line-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding: 0 .5rem;
    background-color: rgb(237,55,104);

    & > p {
      margin: 0;
    }
    & > img {
      line-height: 3rem;
    }
  }
  &-back {
    width: 1.5rem;
  }
  &-box {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-small {
      width: 1rem;
      margin-right: 10px;
      border-bottom: 1px #8b8b8d solid;
    }
  }
  &-footer {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom: 10vh;
  }
  &-btn {
    border-radius: 30px;
    padding: .75rem 0;
    color: #fff;
    background: linear-gradient(to right, rgb(159, 55, 130), rgb(205, 45, 110));
    font-size: 14px;
    width: 70%;
    border: none;
  }
}