@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@mixin home-card {
  background-color: rgba($color: #fff, $alpha: .2);
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  &:not(:last-child) {
    margin-bottom: 2px;
  }
  & > div {
    opacity: .7;
  }
}

.home {
  @include flex-column-center;
  position: relative;
  padding-bottom: 1rem;
  &-header {
    height: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
  }
  &-name {
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    & > b {
      font-size: 22px;
    }
  }
  &-text {
    margin-bottom: 1rem;
    @include flex-column-center;
    align-items: center;
    color: #fff;
    opacity: .8;
  }
  &-result {
    height: 40vh;
    @include flex-column-center;
    justify-content: space-between;
    &-card > div {
      @include home-card;
      font-size: 14px;
      & > div:last-child {
        opacity: .9;
      }
    }
    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > button {
        background-color: rgb(240, 215, 230);
        font-weight: bolder;
        border: none;
        border-radius: 30px;
        width: 60%;
        margin-bottom: 1rem;
        padding: 1rem 0;
        color: #333;
        &:last-child {
          border: 2px solid rgb(240, 215, 230);
          color: rgb(240, 215, 230);
          background-color: inherit;
          padding: .75rem 0;
          width: 35%;
        }
      }
    }
  }
  &-history {
    @include flex-column-center;
    &-item {
      font-size: 12px;
      @include home-card;
    }
    &-header {
      font-size: 12px;
      @include home-card;
      background-color: inherit;
      padding: 0;
      & > div:first-child {
        opacity: 1;
        font-size: 1rem;
        padding: .5rem 0;
      }
    }
  }
  &-btn {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & > button {
      border-radius: 50%;
      border: none;
      background-color: #fff;
      width: 25vw;
      height: 25vw;
      font-weight: bolder;
    }
  }
}
