@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@mixin home-card {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  & > div {
    opacity: .7;
  }
}

.knowledge {
  @include flex-column-center;
  position: relative;
  &-content {
    @include flex-column-center;
    div:nth-child(1){
      height: 7rem;
    }
    div:nth-child(2){
      height: 6rem;
    }
    div:nth-child(3){
      height: 5rem;
    }
    div:nth-child(4){
      height: 4rem;
    }
    & > div {
      @include home-card;
      background-color: rgba($color: #fff, $alpha: .5);
      margin-bottom: .1rem;
      font-size: 14px;
      & > div:last-child {
        opacity: .9;
      }
      & > p {
        margin: 0;
        p:nth-child(1){
          font-size: 1rem;
        }
      }
    }
  }
  &-title {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    color: white;
  }
  &-logoPlaceHolder {
    width:100px;
    height:100px;
  }
}