.landing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15vh 0 5vh 0;
  height: 80vh;
  align-items:stretch;
  background-image: url("../images/bg.jpeg");
  background-size: 100% 100%;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-footer {
    & > p {
      color: #e3e3e3;
      margin: 0;
      height: 5vh;
      line-height: 5vh;
    }
  }
  &-btn {
    border-radius: 30px;
    padding: .75rem 0;
    color: #fff;
    background: linear-gradient(to right, rgb(159, 55, 130), rgb(205, 45, 110));
    font-size: 14px;
    width: 70%;
    border: none;
    align-items: center;
  }
  &-logoPlaceHolder {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
  }
}