@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@mixin home-card {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  & > div {
    opacity: .7;
  }
}

.me {
  @include flex-column-center;
  position: relative;
  padding: 1rem 0;
  padding-top: 45px;
  &-content {
    margin: 0 1rem 0.7rem 1rem;
    border-radius: 5px;
    background-color: rgba($color: #fff, $alpha: .2);

    @include flex-column-center;
    & > div {
      @include home-card;
      font-size: 14px;
      & > div:last-child {
        opacity: .9;
      }
    }
  }
  &-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  &-pic {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  &-name {
    color: white;
    text-align: center;
    padding: 20px 0;
  }
}