.navigation {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  &-item {
    padding: 1rem;
    flex: 1;
    text-align: center;
  }
}
